/* Base styles */
body {
    font: 100%/1.5em "MyriadProRegular", "Arial", "sans-serif";
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Flexible media */
article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */
.container {
    width: 90%;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
}

.container .cols, .container-fluid .cols {
    float: left;
    margin: 0.5em 0;
    text-align: center;
}

.cols.col-1 {  width: 8.33%;  }
.cols.col-2 {  width: 16.66%;  }
.cols.col-3 {  width: 25%;  }
.cols.col-4 {  width: 33.3%;  }
.cols.col-5 {  width: 41.66%;  }
.cols.col-6 {  width: 50%;  }
.cols.col-7 {  width: 58.33%;  }
.cols.col-8 {  width: 66.66%;  }
.cols.col-9 {  width: 75%;  }
.cols.col-10 {  width: 83.33%;  }
.cols.col-11 { width: 91.66%; }
.cols.col-12 { width: 100%; }


.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.row:after,
.clear:after {
    clear: both;
}

/* Helper classes */
.uppercase {
    text-transform: uppercase;;
}

/* Header */
#header { background: #84bd00; }

#logo {  text-align: left;  }

#contacts {  float: right;  }

#contacts .social-media, #phoneNumber {
    text-align: right;
    padding-right: 0;
}

#phoneNumber {
    font-size: 2em;
    position: relative;
    bottom: 5px;
}

#phoneNumber img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
    right: 10px;
}

.social-media img {
    height: 45px;
    width: 45px;
    margin: 0 0 0 5px;
}

#genderNav:before {
    content: " ";
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    top: 12px;
    background: #ffffff;
}

#genderNav ul {
    display: inline-block;
    position: relative;
    z-index: 9;
    background: #84bd00;
}

#genderNav li, #seasonsNav li {
    display: inline-block;
}
#genderNav a, #seasonsNav a {
    padding: 5px 15px;
}

#genderNav li:first-child a {  padding-right: 0;  margin-right: 10px; }
#genderNav li:last-child a {  padding-left: 0;  margin-left: 10px; }


#genderNav a {
    font-size: 1.5em;
    word-spacing: 4px;
    letter-spacing: 5px;
}
#genderNav a:hover {  color: #ffeb3c;  }

#seasonsNav a {  display: inline-block;  min-width: 100px;  }
#seasonsNav a:hover {
    background: #ffeb3c;
    color: #000000;
    border-radius: 20% 50%;
    -webkit-border-radius: 20% 50%;
    -moz-border-radius: 20% 50%;
}

/* Products section */
#products .product-row .product:first-child {
    margin-left: 0;
}
#products .product-row .product:last-child {
    margin-right: 0;
}

#products .product {
    height: 300px;
    width: 23%;
    margin: 20px 10px 0;
    border: 2px solid #f5f5f5;
}

.product .product-thumbnail {
    position: relative;
    height: 250px;
    width: 100%;
}

.product .product-thumbnail img {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    bottom: 10px;
    width: 90%;
    margin: 0 auto;
}

.product .row {
    background: #fff066;
}

.product .price {
    float: right;
    color: #000000;
    font-size: 1.5em;
}

.product .brand {
    max-height: 25px;
    float: left;
    position: relative;
    left: 5px;
}
